---
import Pane from "../components/Pane.astro";
import { Icon } from "astro-icon/components";

interface Props {
    iconName?:
        | "mdi:file-document-multiple"
        | "mdi:folder-open"
        | "mdi:person-help"
        | "mdi:photo-library"
        | "mdi:web";
    label: string;
    position_x: number;
    position_y: number;
    postName?: string;
}
const {
    iconName,
    label,
    position_x,
    position_y,
    postName = "MyPost",
} = Astro.props;

import { Content as MyPost } from "../pages/special/aboutBruncOS.md";
---

<div
    class="max-w-20 desktop-icon-container window-opener"
    data-openWindow={label}
    transition:persist
>
    <div
        class="draggable-icon desktop-icon-sub-container cursor-pointer grow select-none flex flex-col items-center justify-center
        border-4 p-1 border-mywhite border-opacity-0
        hover:bg-mywhite hover:bg-opacity-25 hover:border-opacity-100
        rounded-xl"
        style=`left:${position_x}px; top:${position_y}px;`
    >
        <Icon name={iconName} class="head" size={36} />
        <div class="text-base px-1 mt-1">
            {label}
        </div>
    </div>
</div>
<Pane title={label} classes="invisible" windowName={label}>
    <MyPost />
</Pane>
<script>
    import "../scripts/desktopIcons.js";
</script>
<style>
    .my-shadow {
        box-shadow: 4px 4px 0 rgba(64, 64, 64, 0.8);
    }

    .draggable-icon {
        position: absolute;
    }
    .grow svg,
    .grow .text-base {
        transition: all 0.2s ease-in-out;

        /* transition: position none;
        -webkit-transition: -moz-transform 0.3s ease-out;
        -moz-transition: -webkit-transform 0.3s ease-out; */
    }
    .grow:hover svg,
    .grow:hover .text-base {
        /* transition: all 0.2s ease-in-out; */
        transform: scale(1.05);
        /* color: white; */
    }
</style>
