---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../../layouts/BlogPost.astro";
import Switcher from "../../../components/Switcher.svelte";
import DesktopIcon from "../../../components/DesktopIcon.astro";
// import Pane from "../../components/BlogPostPane.astro";
// import Comments from "../../components/Comments.astro";

export const prerender = true;
export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
const posts = await getCollection("blog");
type Props = CollectionEntry<"blog">;

const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/simple/404");

const { Content } = await post.render();
---

<link
	rel="preload"
	href="/fonts/atkinson-regular.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>

<!-- AlbertSans-Regular.woff2 -->

<BlogPost
	{...post.data}
	title={post.data.title}
	description={post.data.description}
	ogImage=`https://brunc.io/og/${post.slug}.png`
>
	<div class="bg-mywhite simple-container">
		<DesktopIcon
			iconName="pixelarticons:article-multiple"
			label="posts"
			position_x={20}
			position_y={60}
			iconFunction="navigate"
			navigateTo="/blog"
			draggable={false}
		/>
		<DesktopIcon
			iconName="pixelarticons:user"
			label="About me"
			iconFunction="navigate"
			navigateTo="/about"
			position_x={22}
			position_y={180}
			draggable={false}
		/>
		<DesktopIcon
			iconName="mdi:photo-library"
			label="projects"
			iconFunction="navigate"
			navigateTo="/projects"
			position_x={25}
			position_y={270}
			draggable={false}
		/>
		<Content />
		<Switcher
			client:load
			isChecked={false}
			pathname={Astro.url.pathname}
			transition:persist
		/>
	</div>

	<!-- <Pane title={post.data.title} windowName={post.id} showBackButton="true">
		<Content />
		<Comments />
	</Pane> -->
</BlogPost>

<style>
	.simple-container {
		font-family: "Atkinson";
		font-size: 16px;
		/* width: 100vw; */
	}
	body {
		background-color: #faf4e6;
	}
</style>
