---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BlogImage from "../components/BlogImage.astro";
import Switcher from "../components/Switcher.svelte";

import MobileMenu from "../components/MobileMenu.astro";
import DesktopIcon from "../components/DesktopIcon.astro";
import LegalNotices from "../components/LegalNotices.astro";

// type Props = CollectionEntry<"blog">["data"];

const {
	title,
	description,
	ogImage,
	pubDate,
	updatedDate,
	heroImage,
	is404 = false,
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={ogImage} />
		<link
			rel="preload"
			href="/fonts/atkinson-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<style>
			.simple-container {
				font-family: "Atkinson";
				font-size: 16px;
			}
			body {
				background-color: #faf4e6;
			}
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<div class="bg-mywhite simple-container">
				<DesktopIcon
					iconName="pixelarticons:article-multiple"
					label="posts"
					position_x={20}
					position_y={60}
					iconFunction="navigate"
					navigateTo="/blog"
					draggable={false}
				/>
				<DesktopIcon
					iconName="pixelarticons:user"
					label="About me"
					iconFunction="navigate"
					navigateTo="/about"
					position_x={22}
					position_y={180}
					draggable={false}
				/>
				<DesktopIcon
					iconName="mdi:photo-library"
					label="projects"
					iconFunction="navigate"
					navigateTo="/projects"
					position_x={25}
					position_y={270}
					draggable={false}
				/>
				<LegalNotices />

				<article>
					<div class="prose">
						<div class="title">
							{
								pubDate && (
									<div class="date">
										<FormattedDate date={pubDate} />
										{updatedDate && (
											<div class="last-updated-on">
												Last updated on{" "}
												<FormattedDate
													date={updatedDate}
												/>
											</div>
										)}
									</div>
								)
							}
							<h1>{title}</h1>
							<hr
								class="w-72 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700"
							/>
						</div>
						{
							heroImage && (
								<BlogImage
									imagePath={heroImage}
									imageAlt="No alt YET"
								/>
							)
						}

						<slot />
					</div>
				</article>
				<Switcher
					client:load
					isChecked={false}
					pathname={Astro.url.pathname}
					transition:persist
					is404={is404}
				/>
			</div>
			<MobileMenu />
		</main>
		<script>
			import "preline/dist/preline.js";
		</script>
	</body>
</html>
