---
import "animate.css";

import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import DesktopIcon from "../components/DesktopIcon.astro";
import Pane from "../components/Pane.astro";
import MobileMenu from "../components/MobileMenu.astro";

import Hello from "../components/hello.astro";
import { Content as Brunc } from "../content/special/bruncOS.mdx";
import { Content as WebBrowser } from "../content/special/web.mdx";
import { Content as CrashAlert } from "../content/special/alert.mdx";
import { Content as CookieNotice } from "../content/special/cookieNotice.md";
import { Content as PrivacyPolicy } from "../content/special/privacyPolicy.md";
import { Content as TermsOfUse } from "../content/special/termsOfUse.md";
import { Content as A11y } from "../content/special/a11y.md";
import { Content as Environment } from "../content/special/environment.md";
import { Content as Never } from "../content/special/never.mdx";

import VirusImage from "../images/VirusFound.gif";
import IpadAdImage from "../images/you-won-ipad.gif";
import MilkImage from "../images/HotMilks.gif";
import TrashImage from "../images/trash.png";
import Loader from "../components/loader.astro";

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- <Tooltips interactive={false} delay={[15, 100]} /> -->
		<BaseHead title={title} description={description} />
		<ViewTransitions />
		<Loader />
	</head>
	<body class="bg-myyellow">
		<Header />
		<main>
			<Hello />

			<!-- DESKTOP ICONS-->
			<DesktopIcon
				iconName="pixelarticons:article-multiple"
				label="posts"
				position_x={20}
				position_y={60}
				iconFunction="navigate"
				navigateTo="/blog"
			/>
			<DesktopIcon
				iconName="pixelarticons:human-run"
				label="test"
				position_x={94}
				position_y={130}
			>
				<Pane
					title="test"
					classes="invisible"
					windowName="test"
					footnote="RickRoll!"
				>
					<Never />
				</Pane>
			</DesktopIcon>
			<DesktopIcon
				iconName="pixelarticons:user"
				label="About me"
				iconFunction="navigate"
				navigateTo="/about"
				position_x={22}
				position_y={180}
			/>
			<DesktopIcon
				iconName="mdi:photo-library"
				label="projects"
				iconFunction="navigate"
				navigateTo="/projects"
				position_x={25}
				position_y={270}
			/>
			<DesktopIcon
				iconName="mdi:web"
				label="internet"
				position_x={24}
				position_y={350}
			>
				<Pane
					title="internet"
					classes="invisible hidemeplease"
					windowName="internet"
					footnote="web browser"
				>
					<WebBrowser />
				</Pane>
			</DesktopIcon>
			<DesktopIcon
				iconName="pixelarticons:trash"
				label="trash"
				position_x={240}
				position_y={190}
			>
				<Pane
					title="trash"
					classes="invisible"
					windowName="trash"
					footnote=""
				>
					<div
						class="flex flex-col justify-center items-center ml-1 mb-1"
					>
						<Image
							src={TrashImage}
							alt="Picture of a pile of trash"
							width={300}
							class="border-4 border-black"
						/>
						<p>nothing to see here</p>
					</div>
				</Pane>
			</DesktopIcon>

			<!-- ADS IN BROWSER PANES -->
			<Pane
				title="System Error"
				classes="invisible hidemeplease"
				windowName="Error"
				position="left: calc(50vw - 240px); top: calc(50vh - 115px); width:480px; height: 230px;"
				showExpand={false}
				footnote=""
			>
				<CrashAlert />
			</Pane>
			<Pane
				title="Virus found"
				classes="invisible hidemeplease"
				windowName="virus"
				position="left: 10px; top: calc(100vh - 370px); width:200px; height: 275px;"
				showExpand={false}
				footnote=""
			>
				<div class="flex items-center justify-center">
					<Image
						src={VirusImage}
						alt="We found a virus!"
						width={500}
					/>
				</div>
			</Pane>
			<Pane
				title="You won!"
				classes="invisible hidemeplease"
				windowName="ipad"
				position="left: 10px; top: calc(0vh + 50px); width:300px; height: 200px;"
				showExpand={false}
				footnote=""
			>
				<div class="flex items-center justify-center">
					<Image
						src={IpadAdImage}
						alt="You won an upad!"
						width={244}
					/>
				</div>
			</Pane>
			<Pane
				title="Hot MILKs!"
				classes="invisible hidemeplease"
				windowName="milk"
				position="left: max(calc(100vw - 600px), 2px); top: 250px; width:400px; height: 200px;"
				showExpand={false}
				footnote=""
			>
				<div class="flex items-center justify-center">
					<Image
						src={MilkImage}
						alt="Hot MILKs in your area!"
						width={344}
					/>
				</div>
			</Pane>

			<!-- Standalone Panels for Menu -->

			<Pane
				title="About this computer"
				classes="invisible hidemeplease"
				windowName="aboutComputer"
			>
				<Brunc />
			</Pane>

			<!-- LEGAL NOTICES -->
			<Pane
				title="Cookie Notice"
				classes="invisible hidemeplease"
				windowName="CokkieNotice"
				position="left: max(calc(100vw - 470px), 1px); top: 80px; width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<CookieNotice />
			</Pane>
			<Pane
				title="Privacy Policy"
				classes="invisible hidemeplease"
				windowName="PrivacyPolicy"
				position="left: min(calc(50vw - 150px), 1px); top: calc(50vh - 200px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<PrivacyPolicy />
			</Pane>
			<Pane
				title="Environment Policy"
				classes="invisible hidemeplease"
				windowName="EnvPolicy"
				position="left: 2px; top: calc(100vh - 380px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<Environment />
			</Pane>
			<Pane
				title="Terms of use"
				classes="invisible hidemeplease"
				windowName="TermsOfUse"
				position="left: 2px; top: 80px, 1px); width: 200px; height: var(--pane-default-height);"
			>
				<TermsOfUse />
			</Pane>
			<Pane
				title="Accessibility"
				classes="invisible hidemeplease"
				windowName="A11y"
				position="left: max(calc(100vw - 500px), 1px); top: calc(100vh - 400px); width: var(--pane-default-width); height: var(--pane-default-height);"
			>
				<A11y />
			</Pane>
			<slot />
			<MobileMenu />
		</main>
	</body>
</html>
